version: '3.8'

services:
  mysql:
    container_name: playGround_local
    image: mysql:8.0.30
    volumes:
      - ./db/conf.d:/etc/mysql/conf.d
      - ./db/data:/var/lib/mysql
    ports:
      - "3308:3306"
    environment:
      - MYSQL_DATABASE=playGround
      - MYSQL_USER=local_user
      - MYSQL_PASSWORD=LOCAL_TEST
      - MYSQL_ROOT_PASSWORD=LOCAL_TEST
      - TZ=Asia/Seoul
    command:
      - --character-set-server=utf8
      - --collation-server=utf8_general_ci